// @import '../../node_modules/bootstrap/scss/bootstrap.scss'

@import '~bootstrap/scss/bootstrap';

body {
  background-color: grey;
}

.change {
  color: yellow;
  // background-color: red;
}

.btn-flat {
  background-color: rgb(223, 174, 223);
  color: white;
}

$theme-colors: (
  'info': tomato,
  'danger': teal,
);
